<h1 *ngIf="accountId == -1 + ''">All System Transactions</h1>
<h1 *ngIf="accountId != -1 + ''">Account {{accountId}} Transactions</h1>

<div class="alert alert-warning" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">User Id</th>
        <th style="width: 10%">Account Id</th>
        <th style="width: 10%">Transaction Id</th>
        <th style="width: 10%">Amount</th>
        <th style="width: 10%">State</th>
        <th style="width: 10%">Origin Account</th> 
        <th style="width: 10%">Destiny Account</th>
        <th style="width: 10%">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let userId of usersAccounts.keys()">
        <ng-container *ngFor="let account of usersAccounts.get(userId)">
          <tr *ngFor="let transaction of accountsTransactions.get(account.id)">
            <td>{{userId}}</td>
            <td>{{account.id}}</td>
            <td>{{transaction.id}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.state}}</td>
            <td>{{transaction.originAccount.id}}</td>
            <td>{{transaction.destinyAccount.id}}</td>
            <td><button *ngIf="transaction.state == 'STARTED'"class="btn btn-success" (click)="finalizeTransaction(userId, account, transaction)">Finalize</button></td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>

  <button *ngIf="accountId != -1 + ''" class="btn btn-dark" (click)="backPage()">Back Page</button>
</div>