<div class="container">
    <h1>Transaction</h1>
    <div class="alert alert-warning" *ngIf="transactionForm.dirty && transactionForm.invalid">Enter valid values.</div>
  
    <form (ngSubmit)="!transactionForm.invalid && saveTransaction()" #transactionForm="ngForm">
      <fieldset class="form-group">
        <label for="amount">Amount</label>
        <input type="number" [(ngModel)]="transaction.amount" class="form-control" name="amount" required="required">
      </fieldset>

      <fieldset class="form-group">
          <label for="destinyAccount">Destiny Account</label>
          <select [(ngModel)]="selectedValue" class="form-control" id="destinyAccount" name="destinyAccount">
              <option *ngFor="let account of accounts" [ngValue]="account.id">
                {{account.id}}
              </option>
          </select>
      </fieldset>

      <button type="submit" class="btn btn-success">Save Transaction</button>
    </form>
  </div>