<h1>My Account's</h1>

<div class="alert alert-warning" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <caption>My Accounts</caption>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Transactions</th>
        <th style="width: 10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.amount}}</td>
        <td><button class="btn btn-success" (click)="viewAccountTransactions(account.id)">View transactions</button></td>
        <td><button (click)="deleteAccount(account.id)" class="btn btn-warning">Delete</button></td>
        <td><button (click)="updateAccount(account.id)" class="btn btn-success">Update</button></td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-success" (click)="createAccount()">Add</button>
</div>