<div class="container">
    <h1>User</h1>
    <div class="alert alert-warning" *ngIf="message">{{message}}</div>
    <div class="alert alert-warning" *ngIf="userForm.dirty && userForm.invalid">Enter valid values.</div>
  
    <form (ngSubmit)="!userForm.invalid && saveUser()" #userForm="ngForm">
      <fieldset class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user.username" class="form-control" name="username" required="required">
      </fieldset>

      <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="user.password" class="form-control" name="username" required="required">
        </fieldset>
  
      <button type="submit" class="btn btn-success">Save User</button>
    </form>
  
    <br>
    <td><button (click)="backPage()" class="btn btn-dark">Back Page</button></td>
  </div>