<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="" class="navbar-brand">Bank Application</a>
    </div>

    
    <ul class="navbar-nav">
      <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/welcome/brsufirefox" class="nav-link">Home</a></li>
      <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/my_accounts" class="nav-link">My Accounts</a></li>
      <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/all_users" class="nav-link">All Users</a></li>
      <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/all_accounts" class="nav-link">All Accounts</a></li>
      <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/all_transactions" class="nav-link">All Transactions</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a *ngIf="!basicAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="!basicAuthenticationService.isUserLoggedIn()" routerLink="/sign_in" class="nav-link">Sign In</a></li>
        <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
    
  </nav>
</header>